<main class="d-flex">
  <section class="avatar">
    <figure class="figure">
      <img src="{{user.image}}" class="figure-img img-fluid rounded" alt="...">
    </figure>
  </section>


  <section class="info">
    <h1>{{user.name}}</h1>
    <h3>{{user.email}}</h3>
    <a class="btn btn-primary" href="/users/:{{this.id}}/edit" role="button">Edit</a>
  </section>



</main>