<main class="d-flex">
  <section class="avatar">
    <figure class="figure">
      <img src="{{user.image}}" class="figure-img img-fluid rounded" alt="...">
    </figure>
  </section>

  <section class="info p-4">
    <h1>{{user.name}}</h1>
    <h3>{{user.email}}</h3>
    <br />
    <a class="btn btn-primary" href="/users/{{user.id}}/edit" role="button">Edit</a>
  </section>

</main>